---
import Page from "../layouts/Page.astro";
---

<Page>
  <div class="w-[65ch] flex flex-col justify-center items-center mt-48">
    <h1 class="text-9xl text-mint-9 font-mono">404</h1>
    <h3 class="mt-8 text-xl">Not found</h3>
  </div>
</Page>
