---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { sort } from "../util/sort";
import { formatDate } from "../util/formatDate";

const posts = sort(await getCollection("post"));
---

<Layout>
  <ul
    class="gap-x-6 gap-y-3"
    style="display: grid; grid-template-columns: 1fr min-content;"
  >
    {
      posts.map(({ slug, data: { title, date } }) => (
        <li style="display: grid; grid-template-columns: subgrid; grid-column: 1 / -1">
          <a
            href={`/p/${slug}`}
            class="hover:opacity-50 transition-all"
            title={title}
          >
            {title}
          </a>
          <span class="text-mauve-6 whitespace-nowrap">{formatDate(date)}</span>
        </li>
      ))
    }
  </ul>
</Layout>
