---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import { formatDate } from "../../util/formatDate";

export async function getStaticPaths() {
	const posts = await getCollection("post");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"post">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <div class="mb-4 text-mauve-8 whitespace-nowrap">
    {formatDate(post.data.date, "long")}
  </div>

  <Prose>
    <h1 class="font-mono font-medium">
      {post.data.title}
    </h1>

    <Content />
  </Prose>
</Layout>
