---
export type Props = { date: Date };

const { date } = Astro.props;

let year = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  timeZone: "CET",
}).format(date);
let month = new Intl.DateTimeFormat("en-US", {
  month: "2-digit",
  timeZone: "CET",
}).format(date);
let day = new Intl.DateTimeFormat("en-US", {
  day: "2-digit",
  timeZone: "CET",
}).format(date);
---

<span class="whitespace-nowrap">
  {year}-{month}-{day}
</span>
