---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<li>
  <a
    href={href}
    class="underline underline-offset-8 text-mauve-11 hover:text-mauve-12"
  >
    <slot />
  </a>
</li>
