<footer class="mt-12 text-mauve-11 italic">
  If you think this post contains inaccuracies, please email me at{" "}
  <a
    href="mailto:sid@dietcode.io"
    title="sid@dietcode.io"
    class="underline underline-offset-2"
  >
    sid@dietcode.io
  </a> or reach out on <a
    href="https://twitter.com/@sdnts_"
    title="Twitter"
    class="underline underline-offset-2">Twitter</a
  > / <a
    href="https://hachyderm.io/@sid"
    title="Mastodon"
    class="underline underline-offset-2">Mastodon</a
  >. Feedback is also welcome!
</footer>
