<footer class="mt-12 text-mauve-11 italic">
  If you think this post contains inaccuracies, please email me at{" "}
  <button id="email" class="bg-mauve-4 rounded-md px-2">Reveal</button>
   or reach out on <a
    href="https://twitter.com/@sdnts_"
    title="Twitter"
    class="underline underline-offset-2">Twitter</a
  > / <a
    href="https://hachyderm.io/@sid"
    title="Mastodon"
    class="underline underline-offset-2">Mastodon</a
  >. Feedback is also welcome!
</footer>

<script>
  document.querySelectorAll("#email").forEach((revealButton) => {
    revealButton.addEventListener("click", (e) => {
      const link = document.createElement("a");
      link.href = "mailto:sid@dietcode.io";
      link.title = "sid@dietcode.io";
      link.className = "underline underline-offset-2";
      link.textContent = "sid@dietcode.io";

      revealButton.replaceWith(link);
    });
  });
</script>
