<footer class="mt-12 text-mauve-11 italic">
  If you think this post contains inaccuracies, please email me at{" "}
  <a
    href="mailto:sid@dietcode.io"
    title="sid@dietcode.io"
    class="underline underline-offset-2"
  >
    sid@dietcode.io
  </a>
</footer>
