---
import Header from "../components/Header.astro";
import Meta from "../components/Meta.astro";

export type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Meta title={title} description={description} />
  </head>
  <body
    class:list={["flex justify-center", "bg-mauve-1 text-mauve-12", "mb-24"]}
  >
    <div class="max-w-[65ch] mx-8 lg:mx-0">
      <Header />
      <main>
        <slot />
      </main>
    </div>

    <!-- Analytics -->
    <script defer is:inline>
      (() => {
        if (window.location.hostname === "localhost") return;

        fetch("https://in.sdnts.dev/a", {
          method: "POST",
          body: JSON.stringify({
            name: "page_view",
            path: window.location.pathname,
          }),
        });
      })();
    </script>
  </body>
</html>
