---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import PostFooter from "../components/PostFooter.astro";
import Prose from "../components/Prose.astro";
import Page from "./Page.astro";

type Props = CollectionEntry<"post">["data"];

const { title, description, date } = Astro.props;
---

<Page title={title} description={description}>
  <div class="flex items-center justify-between text-mauve-11 h-12">
    <FormattedDate date={date} />
  </div>

  <Prose>
    <h1 class="font-mono font-medium">
      {title}
    </h1>

    <slot />
  </Prose>

  <PostFooter />
</Page>
